.cover {
  background-image: url(../../../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 1;
  /* background-color: transparent; */
  /* padding: 20px; */
  position: relative;
  width: 1100px;
  /* z-index: 1; */
}
